<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Artists</h1>
    
    <div class="artist-grid">
        {{range .Artists}}
        <a href="/artist/{{.ID}}" class="artist-card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
        </a>
        {{end}}
    </div>
</body>
</html>